body {
	background-color: #2e2e2e;
	color: #fa2;
	font-size: 30px;
	display: block;
	margin: auto;
	text-align: center;
}

/* link colors */
a:link { color: #B00; }

a:visited { color: #B00; }

a:hover { color: #F00; cursor: pointer; }

a:active { color: blue; } 

video { object-fit: fill; }

/* division styles */
#header {
	display: inline-block;
	margin: auto;
}

#footer {
  font-size: 18px;
}

#content {
	/* border: 1px solid #000; */
	display: block;
	padding: 10px 10px;
	margin: auto;
	width: 100%;
}

/* Menu styling */
#menu {
	height: 20px;
	width: 100%;
	margin: 30px;
}

#menu a:hover {
	background-color: #009FC1;
}

.item {
	background-color: #ABBBAB;
	border: 5px solid #a62;
	text-decoration: none;
	font-size: 40px;
	padding: 6px;
	margin: 6px;
}

.projectDesc {
    width: 70%;
    display: inline-block;
}

.projectDesc {
    text-align: left; 
}

/* SMT visualization */
.idle {
	fill: #DDDDDD;
	stroke-width: 1px;
	stroke: #C7C7C7;
}
.thread1 {
	fill: #C62F0F;
	stroke-width: 1px;
	stroke: #C7C7C7;
}
.thread2 {
	fill: #0044FF;
	stroke-width: 1px;
	stroke: #C7C7C7;
}

.threadPlot {
	padding: 20px;
}

.mtDesc {
    width: 70%;
    display: inline-block;
}
.mtDesc p {
    text-align: left;
}


/* Slider Bars */
.slider {
  opacity: 0.7;
  height: 20px;
  width: 50%;
  background: #FA3;
  color: red;
  border-radius: 8px;
}
.slider:hover { opacity: 1; }
.slider::-moz-range-thumb { 
  background: #F11; 
  border-radius: 0%; 
  width: 5%;
}

/* Latency Visualization */
.videoTitle {
  margin: 5px;
  color: #D8D;
}

#qosVisual * {
  margin: 0px;
}

.qosDesc {
    width: 70%;
    display: inline-block;
}
.qosDesc p {
    text-align: left;
}

/* Plots visualization */
#plot {
  width: 60%;
  height: 700px;
  display: block;
  margin: auto;
  padding: 30px;
}

